<% roles||=@roles %>
<%= render :partial => "backend" %>

<%= render :partial => "tabs" %>
<div id="result">
		<div id="table">
      <%= render :partial => "shared/table_toolbar", :locals => {:name => "contacts"} %>
      <%= render :partial => "roles/table", :locals => {:roles => roles} %>
		</div>
</div>
