<% backends||=@backends%>
<% pages||=PaginationHelper.pages(backends,params) %>
<% show_csv_export_button=true %>
<% content_for :window_header do %>
<%= if controller.action_name == "index"
	"backends"
	else
		controller.action_name.titleize
end %>
<% end %>

<div id="result">
  <%= render :partial => 'shared/table_toolbar', :locals => {:collection => backends, :show_csv_export_button => show_csv_export_button, :pages => pages} %>
	<div id="table">
    <%= render :partial => "table", :locals => {:backends => pages.current_page} %>	
	</div>
</div>
