<% integrations||=@integrations %>
<%= render :partial => "backend" %>

<%= render :partial => "tabs" %>
<div id="result">
		<div id="table">
      <%= render :partial => "shared/table_toolbar", :locals => {:name => "integrations", :collection => integrations} %>
      <%= render :partial => "integrations_table", :locals => {:integrations => integrations} %>
		</div>
</div>
