<% services||=@services %>
<%= render :partial => "backend" %>

<%= render :partial => "tabs" %>
<div id="result">
		<div id="table">
      <%= render :partial => "shared/table_toolbar", :locals => {:name => "contacts"} %>
      <%= render :partial => "services_table", :locals => {:services => services} %>
		</div>
</div>
