<% collection||=[] %>
<% name||="ReadMe" %>
<% image ||=  "sidebar/#{name.downcase.gsub(" ","_")}.png" %>


<div id="table_toolbar_panel">
	<div id="collection_toolbar">			
  	<%= redpill_toolbar do |toolbar| %>
    <%= toolbar.image(image) %>
    <%= toolbar.text(name) %>
    <% if current_user %>  
      <%= toolbar.item(	{:class => :edit, :tooltip => "Edit" + ' ' + name.singularize },
                          {:action => "edit_readme"}) %>
      <% end %>
  <% end %> 
	</div>
</div>
