<%# render :partial => "window_header" %>

<%= render :partial => '/providers/provider' %>

<%= render :partial => "providers/tabs" %>

<div id="result">
  <%= render :partial => 'shared/table_toolbar', :locals => {:name => "services",:show_new_button => false,:show_csv_export_button => true} %>
		<div id="table">
			<%= render :partial => "services/table" %>
		</div>
</div>
