<% roles||=@roles %>
<%= render :partial => "service" %>

<%= render :partial => "tabs" %>
<div id="result">
  <%= render :partial => "shared/table_toolbar", :locals => {:name => "contacts"} %>
		<div id="table">
      <%= render :partial => "roles/table", :locals => {:roles => roles} %>
		</div>
</div>
