<% services||=@services %>
<% content_for :window_header do %>
<%= if controller.action_name == "index"
	"Services"
	else
		controller.action_name.titleize
end %>
<% end %>

<div id="result">
  <%= render :partial => 'shared/table_toolbar', :locals => {:collection => services} %>
	<div id="table">
    <%= render :partial => "table", :locals => {:services => services} %>	
	</div>
</div>
