<%# render :partial => "window_header" %>

<%= render :partial => '/services/service' %>

<%= render :partial => "services/tabs" %>

<div id="result">
  <%= render :partial => 'readme_toolbar' %>
  <div class="clr"></div>	
	<div id="readme">
    <%= Asciidoctor.render("#{@readme.text}").html_safe if @readme %>
	</div>
</div>
