<div id="consumers_tab" class="tab">
	<ul class="tabs">
		<%= tab_for("ReadMe", root_path ,{}) %>
		<%= tab_for("Services", services_path ,{:selected=>true}) %>
		<%= tab_for("Statistics", root_path ,{}) %>
	</ul>
</div>

<div class="clr"></div>

