<div id="consumers_tab" class="tab">
	<ul class="tabs">
    <%= tab_for("ReadMe", {} ,{selected: false}) %>
		<%= tab_for("Services", consumer_subscriptions_url(@consumer)) %>
    <%= tab_for("Contacts", consumer_contacts_url(@consumer)) %>
    <%= tab_for("Statistics", {} ,{selected: false}) %>
	</ul>
</div>

<div class="clr"></div>

