<% consumers||=@consumers%>
<% content_for :window_header do %>
<%= if controller.action_name == "index"
	"consumers"
	else
		controller.action_name.titleize
end %>
<% end %>

<div id="result">
  <%= render :partial => 'shared/table_toolbar', :locals => {:collection => consumers} %>
	<div id="table">
    <%= render :partial => "table", :locals => {:consumers => consumers} %>	
	</div>
</div>
