#menu_container {
  width: 100%;
  padding-bottom: 0px;
  background: transparent url("/assets/redpill_sidebar/menu-bottom.jpg") no-repeat left bottom;
}

#menu {
	background: none;
	padding: 10px 0 5px 0;
}

#menu ul {
	background: none;
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0 5px 0 0;
	padding:0;
}

#menu li {
	margin:0pt;
	vertical-align: top;
	background: none;
	border-top: 1px solid #bbb;
	padding: 2px 0;
}

#menu img {
	border:medium none;
	height:32px;
	margin:0pt 5px;
	vertical-align:middle;
	width:32px;
}

#menu li.selected {
	background: #4967a5;
}

#menu li.selected a {
	color: #fff;
	font-weight: normal;
}

#menu a {
	color:#000000;
	font-size:1.0em;
	font-weight:400;
	text-decoration:none;
}

#menu li.sub_item {
	background: none;
	border-top: none;
	margin: 0;
	padding: 0 0 2px 50px;
	height: 26px;
	vertical-align: top;
	font-size: 84%;
}

div#menu ul span.sub_items li.sub_item.selected {
	background: #6281c2;
}

