<% subscriptions||=@subscriptions%>

<%# render :partial => "window_header" %>

<%= render :partial => '/services/service' %>

<%= render :partial => "services/tabs" %>

<div id="result">
  <%= render :partial => 'shared/table_toolbar', :locals => {:name => "service consumers", :collection => subscriptions} %>
		<div id="table">
      <%= render :partial => "table", :locals => {:subscriptions => subscriptions} %>
		</div>
</div>
