

<%# render :partial => "window_header" %>

<%= render :partial => '/services/service' %>

<%= render :partial => "services/tabs" %>

<div id="result">
	<%= render :partial => 'shared/table_toolbar', :locals => {:name => "consumers"} %>
		<div id="table">
			<%= render :partial => "table" %>
		</div>
</div>
