<% content_for :window_header do %>
<%= if controller.action_name == "index"
	"users"
	else
		controller.action_name.titleize
end %>
<% end %>

<div id="result">
	<%= render :partial => 'shared/table_toolbar' %>
	<div id="table">
		<%= render :partial => "table" %>	
	</div>
</div>
