<div class="additional_information" style="display:none">
	<table class="show" width="100%" border="0" cellspacing="0" cellpadding="0">

		<%= render :partial => "shared/tag_and_description", :locals => {:record => record} %>

		<%= render :partial => "shared/userstamp", :locals => {:record => record} %>

	</table>
</div>
<%= render :partial => 'shared/additional_information_buttons' %>
	