<div id="more_buttons">
	<div class="button show_more_button">
		<%= link_to_function("Show more", "show_more()",:title => "#{shortcut_modifier}-i" ,:accesskey => "I") %>
	</div>
	<div class="button hide_more_button" style ="display:none">
		<%= link_to_function("Show less", "hide_more()",:title => "#{shortcut_modifier}-i" ,:accesskey => "I") %>
	</div>
</div>
