<% controller_name ||= controller.controller_name %>
<% id ||= params[:id] %>
<% name||=controller_name %>

<div id="object_toolbar">

	<%= redpill_toolbar do |toolbar| %>
		<%= toolbar.image("sidebar/#{name}.png") %>
		<%= toolbar.text(name.singularize.titlecase) %>
  <% end %>

</div>
