<% collection||=[] %>
<% pages||=[] %>
<% name||=controller.controller_name %>
<% show_csv_export_button||=@show_csv_export_button %>
<div id="table_toolbar_panel">
	<div id="collection_toolbar">			
    <%= render(:partial => 'shared/collection_toolbar',:locals => {:name => name, :collection => collection, :show_csv_export_button => show_csv_export_button}) %>		
	</div>

	<div id="filter_toolbar">
	<%= render :partial => 'shared/filter'  %>
	</div>

  <div id="paginator">
    <%= render :partial => 'shared/paginator', :locals => {:pages => pages} %>
  </div>

	<div class="clr"></div>	
</div>
