<tr class="empty"><th>&nbsp;</th><td>&nbsp;</td><th>&nbsp;</th><td>&nbsp;</td></tr>

<tr>
	<th><%= "Created at" %>:</th>
	<td><%=h record.created_at.to_s(:long) if record.created_at %></td>
</tr>
<tr>
	<th><%= "Updated at" %>:</th>
	<td><%=h record.updated_at.to_s(:long) if record.updated_at %></td>
</tr>
