table.redpill_tabular_form tr.header th {
	height:10px;
	line-height:10px; 
	background-color: #E0E0E0;
}

table.redpill_tabular_form th, table.redpill_tabular_form_reader th {
	background:#EAEAEA image-url("/assets/redpill_form_builders/inset-line.gif") repeat-y scroll right center;
	padding:2px;
	text-align:right;
	width:20%;
}

table.redpill_tabular_form td, table.redpill_tabular_form_reader td {
	background:#EAEAEA image-url("/assets/redpill_form_builders/inset-line.gif") repeat-y scroll right center;
	padding:2px;
	text-align:left;
	width:30%;
}

table.redpill_tabular_form td.footer, table.redpill_tabular_form_reader td.footer, table.redpill_tabular_form tr.header td, table.redpill_tabular_form_reader tr.header td {
	background: #E0E0E0;
}

table.redpill_tabular_form tr.header td, table.redpill_tabular_form_reader tr.header td {
	height: 10px;
	line-height: 10px;
}

table.redpill_tabular_form_reader td {
	background:#FFFFFF image-url("/assets/redpill_form_builders/inset-line.gif") repeat-y scroll right center;
}

table.redpill_tabular_form input.save{
	float:left;
}

.ui-autocomplete-input {
	background: #fff image-url("/assets/redpill_form_builders/lightbulb.gif") no-repeat right top;
	padding: 2px 8px;
}

table.redpill_tabular_form td.footer, table.redpill_tabular_form_reader td.footer, table.redpill_tabular_form tr.header td, table.redpill_tabular_form_reader tr.header td {
	background: none;
}
