<% roles||=@roles %>
<%= render :partial => "contact" %>

<%= render :partial => "tabs" %>
<div id="result">
		<div id="table">
      <%= render :partial => "shared/table_toolbar", :locals => {:name => "roles"} %>
      <%= render :partial => "roles_table", :locals => {:roles => roles} %>
		</div>
</div>
