<% subscriptions||=@subscriptions %>
<%# render :partial => "window_header" %>

<%= render :partial => '/consumers/consumer' %>

<%= render :partial => "consumers/tabs" %>

<div id="result">
  <%= render :partial => 'shared/table_toolbar', :locals => {:name => "services", :collection => subscriptions} %>
		<div id="table">
      <%= render :partial => "table", :locals => {:subscriptions => subscriptions %>
		</div>
</div>
