<% roles||=@roles %>
<% pages||=PaginationHelper.pages(roles,params) %>
<% show_csv_export_button=true %>
<%= render :partial => "integration" %>

<%= render :partial => "tabs" %>
<div id="result">
  <%= render :partial => "shared/table_toolbar", :locals => {:name => "contacts", :collection => roles, :pages => pages, :show_csv_export_button => show_csv_export_button} %>
		<div id="table">
      <%= render :partial => "roles/table", :locals => {:roles => pages.current_page} %>
		</div>
</div>
