/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.ui.autocomplete
 *= require message
 *= require window
 *= require buttons
 *= require tabs
 *= require toolbar
 *= require show
 *= require edit
 *= require search
 *= require_directory ./redpill_form_builders
 *= require_directory ./redpill_sidebar
 *= require_directory ./redpill_table
 *= require_directory ./redpill_toolbar
 */

@charset "utf-8";


body {
	background: transparent image-url("application/body_bg.gif") repeat-x top;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 92%;
	line-height: 160%;
	margin: 0pt;
	padding: 0pt;
	min-width: 1020px;
	width: 100%;
	width: expression(document.body.clientWidth < 1020? "1020px": "auto");
}

div#result {
	margin: 0;
	padding: 5px 14px 18px 14px;
	font-size: 1.0em;
}

div#wrapper {
	margin: 0pt auto 0pt 0pt;
	width: 99%;
}

div#logotype {
	background: transparent image-url("application/esb_inventory.gif") no-repeat scroll 0%;
	height: 80px;
	margin: 0pt 0pt 0pt 10px;
	width: 200px;
}

div#info-logotype {
	background: image-url("application/skl-info.gif") no-repeat scroll 0%;
	position: absolute;
	top:40px;
	left:230px;
	
	width: 440px;
	height: 30px;
}


div#right-wrap {
	float: right;
	margin-left: -220px;
	width: 100%;
}

div#right {
	margin-left: 220px;
}

div#content_box {
	margin-top: 85px;
}

div#left {
	float: left;
	width: 220px;
}

img { border:none; behavior: url(/javascripts/iepngfix.htc) }  /* IE hack for PNG transparency*/

div#policy, div#group_pdf_report {
	margin-left:45px;
}

div#policy a:visited{
	color:blue;
}


/* No javascript */

div#noscript {
	background: transparent image-url("message/notice.jpg") no-repeat;
	width: 540px;
	height: 80px;
	color: #000;
	position: absolute;
	display: block;
	left: 230px;
	top: 0px;
	text-align: center;
	padding: 30px 30px 0 0;
	line-height: 18px;
	font-size: 1.3em;
	text-decoration: blink;
}

/* Debugging tool */

div#debug {
	border:1px solid #999999;
	margin:5px;
	position:absolute;
	top:700px;
	z-index:-1;
}


/* Clear */

div.clr {
	clear: both;
}


/* ul.ui-autocomplete { */
/*   position: absolute; */
/*   list-style: none; */
/*   margin: 0; */
/*   padding: 0; */
/*   border: solid 1px #999; */
/*   cursor: default; */
/* } */
/* ul.ui-autocomplete li { */
/*     background-color: #FFF; */
/*     border-top: solid 1px #DDD; */
/*     margin: 0; */
/*     padding: 0; */
/* } */
/* ul.ui-autocomplete a { */
/*       color: #000; */
/*       display: block; */
/*       padding: 3px; */
/* } */
/* ul.ui-autocomplete a.ui-state-hover, a.ui-state-active { */
/*       background-color: #FFFCB2; */
/* } */

.ui-helper-hidden-accessible { display:none; }
