div#csv_export_form{

}

div#csv_export_dialog_wrapper{
  border: 2px solid #EAEAEA;
  height:300px;
  overflow-y: scroll;
  *position:relative;
  margin-bottom:10px;
}

div#csv_export_dialog{
  background-color: white;
  border: 2px solid #4967a5;
  width:450px;
}

#csv_export_dialog_list {
  padding:0;
  margin:0px 0px 10px 0px;
}

.csv_export_dialog_row_text{
  float:left;
}

li.csv_sortable_column{
  list-style-type: none;
  background:transparent image-url("../assets/csv_export/row_background.gif") repeat-x scroll;
  font-size: 80%;
  height:19px;
  margin:0;
  line-height:19px;
  margin-bottom:2px;
  padding:0px 0px 0px 8px;
  cursor: move;
  vertical-align: bottom;
}



input.export_column_dialog_button {
  display:inline;
  float:left;
  margin:0px 4px 0px 0px;
}


a.remove_export_column img {
  margin:3px 8px 0 0;
  float: right;
}

a.remove_export_column {
}


#saved_export_filters{
  float: left;
  margin-right:5px;
}

#export_dialog_spinner{
  float:right;
}

#export_filter_flash{
  float: right;
  margin-right:20px;
  height:10px;
}

p.export_csv_hint{
  text-align: center;
	font-style: italic;
	margin:0px;
}

h3.export_csv_hint {
	text-align: center;
	margin:5px 0 0 0;
}

div.export_column_bottom_left {
  background: transparent image-url("../assets/csv_export/export_column_bottom_left.gif") bottom left no-repeat; 
}
div.export_column_bottom_right { 
  background: transparent image-url("../assets/csv_export/export_column_bottom_right.gif") bottom right no-repeat;
}
div.export_column_top_left { 
  background: transparent image-url("../assets/csv_export/export_column_top_left.gif") top left no-repeat; 
  *padding: 4px 4px 14px 10px;
  padding: 4px 4px 11px 10px;
}
div.export_column_top_right { 
  background: transparent image-url("../assets/csv_export/export_column_top_right.gif") top right no-repeat;
}
