@charset "utf-8";
/* edit send mail */

.mail {
	background: #f0f0f0;
	width: 96%;
	margin:0px 14px 0px 14px;
	padding: 0;
}

.mail th {
	width: 10%;
	font-size: 0.8em;
	padding-right: 1%;
	text-align: right;
}


.mail td input#email_from, .mail td input#email_subject, .mail td textarea#email_body, .mail td input#email_recipients, #email_cc, #email_bcc {
  width: 100%;
  *width: 630px;
}


input#email_submit {
	float: left;
	margin: 0 20px 0 0;
}

div#table div.redpill_table_emails table tr:hover td { 
background: transparent none;
color: #000;
}

div#table div.redpill_table_emails table tr:hover a {
color: #000;
}

div.attachment{
  height:24px;
}


span.attachment_filename{
  float:left;
}

span.remove_attachment_icon{
  background-image: image-url("email/remove.gif");
  background-repeat: no-repeat;
  height: 18px;
  width: 18px;
  margin-top:4px;
  margin-right:3px;
  margin-left:3px;
  float: left;
}

span.attachment_file_icon{
  background-image: image-url("email/file.png");
  background-repeat: no-repeat;
  height: 18px;
  width: 18px;
  margin-top:4px;
  margin-right:3px;
  float: left;
}


div#paperclip{
  background-image: image-url("email/paperclip.png");
  background-repeat: no-repeat;
  height: 18px;
  width: 18px;
  margin-top:4px;
  margin-right:3px;

}

iframe#attachment_frame{
  height:30px;
 	background: #F0F0F0;
}
