
/* Print pdf form */
div#pdf_print_dialog {
	background-color: white;
	border: 2px solid #4967a5;
}

.pdf_print_dialog_button{
	float: left;
	margin: 0 20px 0 0;
	display: inline;
}

ul#pdf_print_dialog_list {
	padding:0;
	margin:0px 0px 10px 0px;
}


#pdf_print_dialog li {
	margin-left: 0px;
	list-style: none;
	cursor: pointer;
	padding-bottom:0px;
	margin-top:1px;
	margin-bottom:0px;
	*height: 1%;
}

h3.label_preview {
	text-align: center;
	margin:5px;
}

p.label_preview {
	text-align: center;
	font-style: italic;
	margin-top:0px;
}

div.row_item_bottom_left { 
	background: transparent image-url("../assets/pdf_label_form/row_item_bottom_left.gif") bottom left no-repeat; 
	*height: 1%;
}
div.row_item_bottom_right { 
	background: transparent image-url("../assets/pdf_label_form/row_item_bottom_right.gif") bottom right no-repeat;
}
div.row_item_top_left { 
	background: transparent image-url("../assets/pdf_label_form/row_item_top_left.gif") top left no-repeat; 
	padding: 10px 10px 14px 10px;
}
div.row_item_top_right { 
	background: transparent image-url("../assets/pdf_label_form/row_item_top_right.gif") top right no-repeat;
}

a.remove_label_row img {
	float: right;
	margin: 1px;
}






