@charset "utf-8";
/* Tabs */

div.tab {
	background: image-url("tabs/tabs-bg.gif") repeat-x bottom;
	margin: 0 14px 0 14px;
}

ul.tabs {
	height: 35px;
	margin: 0 0 0 5px;
	padding: 0;
	list-style: none;
}

li.tab {
	float: left;
	background: image-url("tabs/tabs-left.gif") no-repeat top left;
	margin-right: 3px;
	padding-left: 5px;
}

li.selected_tab {
	float: left;
	background: image-url("tabs/tabs-left-active.gif") no-repeat top left;
	margin-right: 3px;
	padding-left: 5px;
}

li.tab a {
	background: image-url("tabs/tabs-right.gif") no-repeat top right;
	display: block;
	padding: 3px 15px 9px 10px;
	*padding: 2px 15px 8px 10px;	/* Internet Explorer hack ie6/ie7 */
	color: #000;
	font-weight: 100;
	text-decoration: none;
}

li.selected_tab a {
	background: image-url("tabs/tabs-right-active.gif") no-repeat top right;
	display: block;
	padding: 3px 15px 9px 10px;
	*padding: 3px 15px 8px 10px;	/* Internet Explorer hack ie6/ie7 */
	color: #fff;
	font-weight: 900;
	text-decoration: none;
}
